<!DOCTYPE html>
<html lang="en">
  <!-- head -->
  <%- include('./partials/head.ejs') %>
  <body class="d-flex flex-column min-vh-100">
    <!-- Header -->
    <header class="bg-dark text-danger text-center py-2">
      <h1 id="header-title" class="display-3">The Timeline</h1>
    </header>

    <!-- End Nav -->

    <!-- Post Message -->
    <div class="container">
      <form action="/posts" method="POST">
        <label for="postMessage" class="form-control border-0 fs-1 mt-5"
          >Write some post for today
        </label>
        <textarea
          name="post"
          id="postMessage"
          class="form-control"
          style="height: 120px"
          required
        ></textarea>
        <button
          type="submit"
          class="btn btn-primary btn-sm mt-2"
          style="width: 130px"
        >
          <i class="fa-solid fa-pen pe-2"></i>Post
        </button>
      </form>
      <!-- Error if Post is less than 25 characteres -->
      <% if (err) { %>
      <p id="errorMessage" class="mt-2 text-danger"><%= err %></p>
      <script>
        setTimeout(function () {
          let errorMessage = document.getElementById("errorMessage");
          if (errorMessage) {
            errorMessage.style.display = "none";
          }
        }, 2000);
      </script>
      <% } %>
      <!-- End Error -->
      <h2 class="text-center my-1 text-secondary fw-light" id="allPosts">
        All Posts:
      </h2>
      <!-- Post Messages -->
      <div class="container mt-4 mb-4">
        <section>
          <div class="container my-2 py-2">
            <div class="row d-flex justify-content-center">
              <div class="col-md-12 col-lg-10 col-xl-8">
                <% posts.forEach(post => { %>
                <div class="card mb-3">
                  <div class="card-body">
                    <h3><%= post.title %></h3>
                    <p class="fs-5"><%= post.post %></p>
                    <small class="text-end text-muted"
                      >Posted on <%= post.date %></small
                    >
                  </div>
                  <div class="card-footer py-3 border-0">
                    <div class="d-flex flex-start w-100">
                      <div class="form-outline w-100"></div>
                    </div>
                    <!-- Comments goes here -->
                    <h5 class="text-secondary d-flex gap-2 mb-2">
                      <i class="fa-regular fa-message"></i>All comments
                    </h5>
                    <div>
                      <ul class="list-group d-flex">
                        <% post.comments.forEach(comment => { %>
                        <li class="mb-2 list-group-item py-4">
                          <%= comment.commentText %>
                          <small class="text-muted d-block"
                            ><%= comment.date %></small
                          >
                        </li>
                        <% }); %>
                      </ul>
                    </div>
                    <!-- End comments -->
                    <div class="float-end mt-2 pt-1">
                      <a
                        href="/posts/<%= post.id %>"
                        class="btn btn-primary btn-sm"
                      >
                        Post comment
                      </a>
                      <a
                        href="/posts/delete/<%= post._id %>"
                        class="btn btn-outline-danger btn-sm"
                      >
                        Delete
                      </a>
                    </div>
                  </div>
                </div>
                <% }) %>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
